.signOutOverlay {
  position: absolute;
  width: 25vw;
  padding: 20px 15px;
  background-color: white;
  top: 60px;
  right: -20px;
  z-index: 15;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.signOutOverlay::before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  background-color: transparent;
  top: -19px;
  right: 18px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.overlayUpperSection {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.overlayUpperSection .signOut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 30px;
  font-size: 12px;
  margin: 0 auto 5px;
  padding: 6px;
  font-weight: bold;
  border: 1px solid orange;
  background-color: #FFC83E;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
}

.overlayUpperSection .signOut a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.overlayLowerSection {
  display: flex;
  color: black;
  padding-top: 10px;
}

.overlayLowerSection .leftSection {
  width: 45%;
  border-right: 1px solid #ddd;
  margin: 0 0 10px 5px;
}

.overlayLowerSection .leftSection h3, 
.overlayLowerSection .rightSection h3 {
  font-size: 16px;
}

.overlayLowerSection .leftSection ul, 
.overlayLowerSection .rightSection ul {
  font-size: 14px;
}

.overlayLowerSection .leftSection ul li, 
.overlayLowerSection .rightSection ul li {
  margin-bottom: 5px;
}

.overlayLowerSection .leftSection ul li:first-of-type, 
.overlayLowerSection .rightSection ul li:first-of-type {
  margin-top: 5px;
}

.overlayLowerSection .leftSection ul li:hover, 
.overlayLowerSection .rightSection ul li:hover {
  text-decoration: underline;
}

.overlayLowerSection .rightSection {
  width: 55%;
  padding: 0 0 10px 5px;
}

@media (max-width: 767px) {
  .signOutOverlay {
    width: 200px;
    padding: 10px 5px;
    top: 50px;
  }
  .overlayUpperSection .signOut {
    width: 75px;
    height: 25px;
    font-size: 10px;
    padding: 6px;
  }
  .overlayLowerSection .leftSection h3, 
  .overlayLowerSection .rightSection h3 {
    font-size: 12px;
}
  .overlayLowerSection .leftSection ul, 
  .overlayLowerSection .rightSection ul {
    font-size: 10px;
}
}