.orders {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 73px;
  height: 47px;
  padding: 5px;
}

.orders:hover {
  outline: 2px solid white;
  border-radius: 4px;
}

.orders a {
  text-decoration: none;
  color: white;
}

.orders span {
  font-size: 12px;
  font-weight: 400;
}

.orders p {
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 639px) {
  .orders {
    display: none;
  }
}

@media (max-width: 767px) {
  .orders {
    padding: 3px 3px 3px 0;
    margin-bottom: 8px;
    width: 46px;
  }
  .orders span {
    font-size: 8px;
  }
  .orders p {
    font-size: 10px;
  }
}
