.carouselContainer .homeArrowContainer {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 60px;
  height: 75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carouselContainer .homeArrowContainer:focus {
  color: white;
  transition: 0.3s;
  box-shadow: 0 0 0 2px #008296;
}

.homeCarouselImageContainer {
  width: 85vw;
  height: 75rem;
  outline: none;
}

.homeCarouselImageContainer img {
  width: 100%;
  height: 50rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .carouselContainer .homeArrowContainer {
    width: 40px;
    height: 100px;
    top: 125px;
  }
  .carouselContainer .homeArrowContainer:focus {
    box-shadow: 0 0 0 2px #008296;
  }
  .homeCarouselImageContainer {
    width: 85vw;
    height: 47rem;
  }
  .homeCarouselImageContainer img {
    height: 350px;
  }
}

@media (min-width: 560px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 559px) {
  .carouselContainer .homeArrowContainer {
    top: 0;
    width: 40px;
    height: 15rem;
  }
  .homeCarouselImageContainer {
    width: 100vw;
    height: 42rem;
  }
  .homeCarouselImageContainer img {
    height: 15rem;
  }
}
