.footer {
  min-height: 50vh;
  width: 100vw;
  background-color: #232F3E;
}

.footer .navTop {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  top: -50px;
  background-color: #435f82;
}

.footer .navTop:hover {
  background-color: #33537b;
  cursor: pointer;
}

.footer .navTop a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  padding: 16px 0;
}

/* @media (max-width: 767px) {
  .footer {
    
  }
} */