.optionsButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 15px;
  width: 50vw;
  margin: 0 auto;
  height: 10vh;
}

.optionsButtons .footerLogo {
  width: 100px;
  height: 35px;
  object-fit: contain;
  margin-top: 10px;
  cursor: pointer;
}

.optionsButtons .footerLogo img {
  height: 32px;
  width: 100px;
}

.optionSelector {
  display: flex;
  justify-content: center;
}

.optionSelector div {
  width: auto;
  height: 35px;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.optionSelector .language,
.optionSelector .currency,
.optionSelector .country {
  display: flex;
  justify-content: center;
  align-items: center;
}

.country img {
  width: 25px;
  height: 15px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .optionsButtons {
    width: 100vw;
    gap: 50px;
  }
}

@media (max-width: 767px) {
  .optionsButtons {
    width: 100vw;
    gap: 10px;
    margin: 0 auto 0 0;
  }
  .optionsButtons .footerLogo {
    width: 60px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .optionsButtons .footerLogo img {
    width: 60px;
    height: 20px;
  }
  .optionSelector div {
    height: 27px;
    width: auto;
    padding: 3px 5px;
    font-size: 11px;
  }
  .optionSelector .currency {
    width: 100px;
  }
  .country img {
    width: 16px;
    height: 9px;
  }
}
