.servicesContainer {
  width: 50vw;
  height: 35vh;
  margin: 0 auto;
  padding: 50px 0;
}

.servicesNavLinksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  text-align: center;
  color: white;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.servicesNavLinksContainer ul {
  font-size: 15px;
  font-weight: 300;
}

.servicesNavLinksContainer ul li {
  margin-top: 10px;
}

.servicesNavLinksContainer ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .servicesNavLinksContainer {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
    margin-left: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .servicesContainer {
    height: auto;
  }
  .servicesNavLinksContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px 100px;
  }
}

@media (max-width: 767px) {
  .servicesContainer {
    height: auto;
  }
  .servicesNavLinksContainer {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    font-size: 12px;
    margin: 0;
  }
  .servicesNavLinksContainer ul {
    font-size: 10px;
  }
}
